* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
.wrapper {
    height: 100%;
    width: 100;
    display: flex; 
    flex-direction: column;
    overflow: hidden;
}
.user-container {
    background : #a9bdce;
    flex: 1;  /* 비율 1:12:1*/
    display: flex; /* lable 태그와 input 태그 정렬 */
    justify-content: flex-start;   /* 왼쪽 정렬 */
    align-items: center; /* 상하 정렬 */
    padding: 0.5rem; 
}
.user-container label {
    font-size: 14px;
    margin-right: 1rem;
}
.user-container input {
    border-radius: 3px;
    border:none;
    height: 100%;
}

.display-container {
    flex: 12; /* 비율 1:12:1*/
    background: #b2c7d9;
    overflow-y: scroll; /* 채팅이 많이 쌓이면 스크롤 */
}
.input-container {
    flex: 1; /* 비율 1:12:1*/
    display: flex;
    justify-content: stretch; /* 처음 부터 끝까지 영역을 먹을 있도록 함 */
    align-items: stretch;
}
.input-container span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;
    width: 100%;
}
.chatting-input {
    font-size: 12px;
    height: 100%;
    flex: 8;
}
.send-button {
    flex: 1;
    background: #ffeb33;
    border: none;
    height: 100%;
    border-radius: 3px; /* 모서리 둥글게 */
}
.chatting-list li {
    width: 90%;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-start; /* 왼쪽 부터 정렬 */
    align-items: flex-end; /* 세로로 주는 속성 */
    margin-top: 0.5rem;
}
.profile {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 정중앙 위치 */
    justify-content: center;
}
.profile .user {
    font-size: 10px;
    margin-bottom: 0.3rem;
}

.profile .img {
    border-radius: 50%; /* 이미지 둥글게 */
    object-fit: cover; /* 이미지가 크기에 맞게  */
    width: 50px;
    height: 50px;
}
.message {
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 12px;
    margin: 0 5px;
    flex: 7px
}
.time {
    font-size: 10px;
    margin: 0 5px;
}

.sent {
    flex-direction: row-reverse;
    float: right; /*오른쪽으로 붙을 수 있게*/
}

.sent .message {
    background: #ffeb33;
}

.received .message {
    background: #fff;
}